.thumbnail {
  max-width: 100%;
  max-height: 65%;
  object-fit: scale-down;
  display: table;
}
.videoname {
  max-height: 20%;
  font-size: 18px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.username {
  max-height: 15%;
  font-size: 16px;
  font-weight: 400;
  color: grey;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.avatar {
  float: left;
  max-width: 35%;
  max-height: 35%;
}
.names {
  max-width: 65%;
  max-height: 35%;
  display: inline-block;
  margin-left: 10px;
}
